@{
    ViewBag.Title = "Tiger Paws";
}
<div class="main">
    <div>
        <h1>Welcome To Tiger Paws</h1>
        <media>
            <div class="media-right">
                <video width="400" controls="controls" autoplay="autoplay">
                    <source src="~/Media/Teddy_on_Bench.mp4" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
        </media>
    </div>
</div>