/*----------------------------------------------------------------------------------------
    BRAND COLOR
 ---------------------
    brand-primary: color: #F0978B;
    success:color: #85D68F;
    info:color: #FFD57E;
    warning: color: #FF931E;
    focus:color: #a47e3c;
    danger:color: #b94a48;
    gray:rgb(119, 119, 119);
-------------------------------------------------------------------------------------------*/




body {
    padding-top: 85px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right:20px;
  
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 30px;    
    padding-bottom:15px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.input-validation-error {
    border: solid 1px #a94442;
}

main{
    padding:20px;
    margin-bottom: 30px;
}
footer {
    margin-top:auto;
}

.table{
    margin-top:15px;
    margin-bottom:15px;
}

.details-image{
margin-bottom:15px;
}

.media-container{
margin-top:50px;
}
.news-container{
    margin-bottom:50px;
}
    .news-container h3 {
        color: #b94a48;
    }
