/*----------------------------------------------------------------------------------------
    BRAND COLOR
 ---------------------
    brand-primary: color: #F0978B;
    success:color: #85D68F;
    info:color: #FFD57E;
    warning: color: #FF931E;
    focus:color: #a47e3c;
    danger:color: #b94a48;
    gray:#595959;
-------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------
    BRAND FONT
---------------------
    font-family: "Neucha", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

-------------------------------------------------------------------------------------------*/



body {
    padding: 85px 20px 20px 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:1%;
    padding-top: 30px;    
    padding-bottom:15px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.input-validation-error {
    border: solid 1px #a94442;
}

main{
    padding:20px;
    margin-bottom: 30px;
}
footer {
    margin-top:auto;
}

.table{
    margin-top:15px;
    margin-bottom:15px;
}

.details-image{
margin-bottom:15px;
}

.media-container{
margin-top:50px;
}
.news-container{
    margin-bottom:50px;
}
    .news-container h3 {
        color: #b94a48;
    }
.dataTables_wrapper{
    margin-top:15px;
}

.info-container{
    position:relative;
}
.company-information {
    display: block;
    text-align: center;
    margin-left: -30px;
    margin-top:35px;
}
.contact-form{
    display:block;
    float:left;
    margin-left:30px;
}

.linkButton {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
}

.exportButton{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
}

.myStyle {
    margin-top: 20px;
}